<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sunny.imessage.push.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.sunny.imessage.push.app.Perspective"
            id="com.sunny.imessage.push.app.Perspective">
      </perspective>
   </extension>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
<extension
        point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
            targetID="com.sunny.imessage.push.app.Perspective">
         <view
               closeable="false"
               moveable="false"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               ratio="0.18"
               id="com.sunny.imessage.push.view.NaviView">
         </view>
      </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.views">
        <view
        	name="功能导航"
            class="com.sunny.imessage.push.view.NaviView"
            restorable="false"
            allowMultiple = "false"
            id="com.sunny.imessage.push.view.NaviView">
        </view>
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="com.sunny.imessage.push.editor.ScanLocationEditor"
           icon="icons/sample.gif"
           id="com.sunny.imessage.push.editor.ScanLocationEditor"
           name="区域扫描">
     </editor>
     <editor
           class="com.sunny.imessage.push.editor.ScanFileEditor"
           icon="icons/sample.gif"
           id="com.sunny.imessage.push.editor.ScanFileEditor"
           name="文件扫描">
     </editor>
     <editor
           class="com.sunny.imessage.push.editor.SendEditor"
           icon="icons/email_send.png"
           id="com.sunny.imessage.push.editor.SendEditor"
           name="号码下发">
     </editor>
  </extension>
  <extension
        id="product"
        point="org.eclipse.core.runtime.products">
     <product
           application="com.sunny.imessage.push.Activator.application"
           name="IMessagePushControl">
        <property
              name="appName"
              value="IMessagePushControl">
        </property>
        <property
              name="windowImages"
              value="icons/e_mail_16*16.png,icons/e_mail_32*32.png,icons/e_mail_48*48.png,icons/e_mail_64*64.png,icons/e_mail_128*128.png">
        </property>
     </product>
  </extension>
</plugin>
